body{
    font-family: 'Century Gothic',Calibri, serif;
	margin: 0px;
	padding: 0px;
}


header {
    position: absolute;
    width: 100%;
    height: 12vh;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    color: #fff;
    padding: 1rem 2rem;
}

.menu li a {
    color: #fff;
    text-decoration: none;
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    display: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-family: 'Century Gothic',Calibri, serif;
    width: 700px;
}

.btn {
    border: 0;
    background: linear-gradient(45deg, #39e27a, #71aadf);    
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
}


.btn2 {
    background: transparent;
    border: 2px solid;
    border-color: #39e27a;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
}


@media all and (max-width: 992px) {

    .toggle {
        display: block;
        font-size: 2rem;
        cursor: pointer;
        position: relative;
        z-index: 20;
    }

    header{
        height: 15vh;
    }
    .ouvrir {
        display: block;
    }

    .toggle .fermer {
        display: none;
    }


    .logo {
        margin-top: 11px;
        position: relative;
        z-index: 20;
    }

    
    .open .ouvrir {
        display: none;
    }

    .open .fermer {
        display: block;
        z-index: 50;
    }

    .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #000;
        flex-direction: column;
        padding: 2rem;
        justify-content: space-around;
        transform: translateX(-100%);
        transition: transform 1s;
    }

    .menu li a {
        font-size: 1.5rem;
    }

    .btn .btn2 {
        font-size: 1.5rem;
    }

    .open .menu {
        transform: translateX(0);
    }




}
